# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.*
!.env.example

# Uploads and Storage
uploads/*
!uploads/.gitkeep
input.wav

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
